body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
    overflow-x: hidden;
    background-color: rgba(165, 42, 42, 0);
    background-image:url(download.gif);
    background-size: 100% 100%;
}



#main { 
    height: auto;
    padding: 20px;
}


#header {
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: rgba(0, 0, 0, 0.362);
    margin: 40px 40px auto 40px;
    border-radius: 10px;
    height: fit-content;
}

h1 {
    text-transform: capitalize;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 5px;
    color: antiquewhite;
    margin: 0;
    animation: spacing 2s ;
}

.card:hover {
    transform: translate(5px, -5px); /* Moves the card slightly to the right and up */
}



#card {
    background-color: rgba(0, 0, 0, 0.362);
    border: 8px ;
    padding: left 150px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 455px;
    width: auto;
}
.card {
            width: 300px;
            height: 125px;
            background-color: #fff;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: absolute;
            opacity: 0;
            transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}
#footer {
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: auto;
    text-align: center;
}

#content {
    background-color: orchid;

}

@keyframes spacing {
    0% {
        letter-spacing: 0;
        color: rgba(240, 248, 255, 0);
    }
    100% {
        letter-spacing: 5px;
        color: aliceblue;
    }
}

.letter {
    position: absolute;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}