body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
  overflow-x: hidden;
  }



#main { 
    background-color: rgb(165, 42, 42);
    background-image:url(download.gif);
    background-size: 100% 100%;
    height: auto;
    padding: 20px;

}


#header {
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px 20px;
    background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;

}

h1 {
    text-transform: capitalize;
    font-size: 48px;
    letter-spacing: 5px;
    color: antiquewhite;
    margin: 0;
    animation: spacing 2s ;
}

#card {
    background-color: rgba(0, 0, 0, 0.362);
    border: 8px ;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 456px;
    width: auto;
}

#footer {
    background-color: yellow;
    height: auto;
    width: auto;
    text-align: center;
}

#content {
    background-color: orchid;

}

@keyframes spacing {
    0% {
        letter-spacing: 0;
        color: rgba(240, 248, 255, 0);
    }
    100% {
        letter-spacing: 5px;
        color: aliceblue;
    }
}