body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
  overflow-x: hidden;
  }



#main { 
    background-color: rgb(165, 42, 42);
    height: 100px;

}


#header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;

}
#card {
    background-color: pink;
}

#footer {
    background-color: yellow;
}

#content {
    background-color: orchid;
}
