body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212; 
  color: #fff; 
  overflow-x: hidden;
}

#loginbanner {
  position: fixed;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(4px);
  align-items: center;
  align-content: center;
  background: rgba(30, 30, 30, 0.112);
  z-index: 1;
}

#button_holder {
  position: relative;
  left: 90%;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: wrap;
  align-self: center;
} 
.hero {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(45deg, rgba(30, 30, 30, 0.8), rgba(0, 0, 0, 0.8));
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0;
}

h2 {
  color: #ff5e57;
  font-size: 2.5rem;
  animation: fadeInDown 1s ease-out;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%; 
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent; 
  }
  50% {
      border-color: #ff5e57; 
  }
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;  
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; 
  border-right: 4px solid #ff5e57; 
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

.hover-effect {
  display: inline-block;
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
}

h4, h6 {
  text-align: center;
  margin-top: 20px;
  color: #ccc; 
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

h6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

#pets {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  padding: 0 20px;
  transition: 0.5s;
}

@media (max-width: 600px) {
  #pets {
    flex-direction: column;
    margin-top: 50px;
  }
  h1 {
    font-size: 1rem;
  }
}

.card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  background-color: #1e1e1e; 
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.501);
  transition: transform 0.5s, box-shadow 0.5s;
}

#left {
  animation: card_left 2s ease-out;
}

@keyframes card_left {
  0% {
      opacity: 0;
      transform: translatex(-400px);
  }
  100% {
      opacity: 1;
      transform: translatex(0);
  }
}

#right {
  animation: card_right 2s ease-out;
}

@keyframes card_right {
  0% {
      opacity: 0;
      transform: translatex(400px);
  }
  100% {
      opacity: 1;
      transform: translatex(0);
  }
}
.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
}

.card h3 {
  color: #ff5e57;
  text-align: center;
  margin: 15px 0;
  font-size: 1.6rem;
}

.card p {
  padding: 0 15px;
  font-size: 1rem;
  color: #ccc;
}

.cta-button {
  display: block;
  width: 80%;
  margin: 10px auto 20px;
  padding: 10px;
  background-color: #ff5e57;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #f06d06;
  transform: scale(1.1); 
}

.card .cta-button:hover {
   box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-top: 20px;
}

.social_media a {
  color: rgba(255, 255, 255, 0.6); 
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}

.social_media a:hover {
  color: #ff5e57; 
  transform: scale(1.2); 
}

.nav-button {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.nav-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.nav-button:active {
  color: #000
}

.nav-button:active:after {
  background: transparent;
}

.nav-button:hover:before {
  opacity: 1;
}

.nav-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}